@* @model *@

<div class="card">
    <div class="card-header bg-dark text-light">Level 1</div>
    <div class="card-body">
        <p>Using the SportsORM, complete all the following queries and show their results on Level1.cshtml.</p>
        <ol>
            <li>Y
                <table class="table table-striped">
                    <tr>
                        <th>Y</th>
                        <th>Y</th>
                    </tr>
                    @foreach (var l in ViewBag.Y)































































                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>































































































































                    }
                </table>
            </li>
            <li>X
                <table class="table table-striped">
                    <tr>
                        <th>X</th>
                        <th>X</th>
                    </tr>
                    @foreach (var l in ViewBag.X)































































                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>































































































































                    }
                </table>
            </li>
            <li>...all womens' leagues
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                    @foreach (var l in ViewBag.AllWomensLeagues)































































                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>































































































































                    }
                </table>
            </li>
            <li>...all leagues where sport is any type of hockey
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                    @foreach (var l in ViewBag.AllLeaguesWhereSportIsAnyTypeOfHockey)































































                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>































































                    }
                </table>
            </li>
            <li>...all leagues where sport is something OTHER THAN football
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                    @foreach (var l in ViewBag.AllLeaguesWhereSportIsSomethingOtherThanFootball)















                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>















                    }
                </table>
            </li>
            <li>...all leagues that call themselves "conferences"
                <table class="table table-striped">
                    <tr>
                        <th>League Name</th>
                        <th>League Sport</th>
                    </tr>
                    @foreach (var l in ViewBag.L1_6)















                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>















                    }
                </table>
            </li>
            <li>
                <table class="table table-striped">
                    <tr>

                        <th>SelectLeagues</th>
                    </tr>
                    <tr>
                        <td>@String.Join(", ",ViewBag.SelectLeagues)</td>

                    </tr>
                </table>
            </li>
            <li>
                <table class="table table-striped">
                    <tr>

                        <th>BSports</th>
                        <th>BSports</th>
                    </tr>

                    @foreach (var l in ViewBag.BSports)















                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>















                    }
                </table>
            </li>
            <li>...all leagues in the Atlantic region
                <table class="table table-striped">
                    <tr>

                        <th>BSports</th>
                        <th>BSports</th>
                    </tr>

                    @foreach (var l in ViewBag.L1_9)


                    {
                        <tr>
                            <td>@l.Name</td>
                            <td>@l.Sport</td>
                        </tr>



                    }
                </table>
            </li>
            <li>...all teams based in Dallas
       <table class="table table-striped">
                    <tr>

                        <th>L1_10</th>
                        <th>L1_10</th>
                    </tr>

                    @foreach (var l in ViewBag.L1_10)


                    {
                        <tr>
                            <td>@l.TeamName</td>
                            <td>@l.Location</td>
                        </tr>



                    }
                </table>

            </li>
            <li>...all teams named the Raptors
                       <table class="table table-striped">
                    <tr>

                        <th>L1_11</th>
                        <th>L1_11</th>
                    </tr>
                    @foreach (var l in ViewBag.L1_11)
                    {
                        <tr>
                            <td>@l.TeamName</td>
                            <td>@l.Location</td>
                        </tr>
                    }
                </table>

            </li>
            <li>...all teams whose location includes "City"
                              <table class="table table-striped">
                    <tr>

                        <th>L1_12</th>
                        <th>L1_12</th>
                    </tr>
                    @foreach (var l in ViewBag.L1_12)
                    {
                        <tr>
                            <td>@l.TeamName</td>
                            <td>@l.Location</td>
                        </tr>
                    }
                </table>
            </li>
            <li>...all teams whose names begin with "T"
                           <table class="table table-striped">
                    <tr>

                        <th>BSports</th>
                        <th>BSports</th>
                    </tr>

                    @foreach (var l in ViewBag.L1_13)
                    {
                        <tr>
                            <td>@l.TeamName</td>
                            <td>@l.Location</td>
                        </tr>

                    }
                </table>
            </li>
            <li>...all teams, ordered alphabetically by location
                                              <table class="table table-striped">
                    <tr>

                        <th>L1_14</th>
                        <th>L1_14</th>
                    </tr>
                    @foreach (var l in ViewBag.L1_14)
                    {
                        <tr>
                            <td>@l.TeamName</td>
                            <td>@l.Location</td>
                        </tr>
                    }
                </table>
            </li>
            <li>...all teams, ordered by team name in reverse alphabetical order
            <table class="table table-striped">
                    <tr>

                        <th>L1_15</th>
                        <th>L1_15</th>
                    </tr>
                    @foreach (var l in ViewBag.L1_15)
                    {
                        <tr>
                            <td>@l.TeamName</td>
                            <td>@l.Location</td>
                        </tr>
                    }
                </table>
            </li>
            <li>...every player with last name "Cooper"</li>
            <li>...every player with first name "Joshua"</li>
            <li>...every player with last name "Cooper" EXCEPT those with "Joshua" as the first name
                 <table class="table table-striped">
                    <tr>

                        <th>L1_18</th>
                        <th>L1_18</th>
                    </tr>
                    @foreach (var l in ViewBag.L1_18)
                    {
                        <tr>
                            <td>@l.FirstName</td>
                            <td>@l.LastName</td>
                        </tr>
                    }
                </table>
            </li>
            <li>...all players with first name "Alexander" OR first name "Wyatt"
                 <table class="table table-striped">
                    <tr>

                        <th>L1_19</th>
                        <th>L1_19</th>
                    </tr>
                    @foreach (var l in ViewBag.L1_19)
                    {
                        <tr>
                            <td>@l.FirstName</td>
                            <td>@l.LastName</td>
                        </tr>
                    }
                </table>
            </li>
        </ol>
    </div>
</div>